body {
	background-color: #000;
	color: #fff;
	font-family: 'Raleway', Arial, Times;
	font-size: 20px;
}
header {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/back-laptop-black.jpg') no-repeat top center;
	background-size: cover;
	padding:2em 3em;
}

nav{
 padding: 15px;
}

header {
	background-color: #293241;
	font-size: 75px;
	font-weight: 900;
	text-transform: uppercase;
}

nav {
	background-color: #505050;
}

p{
	line-height: 2em;
}

.nav-style {
	overflow: auto;
  }
  
  /* Navbar links */
  .nav-style a {
	float: left;
	text-align: center;
	padding: 12px;
	color: #fff;
	text-decoration: none;
  }

  
  /* Navbar links on mouse-over */
  .nav-style a:hover {
	text-decoration: underline;
  }
  
  /* Current/active navbar link */
  .active {
	background-color:rgba(255, 255, 255, 0.5);
  }
  
main {
	background-color: #FFF;
	padding-top: 40px ;
}

.grid-container{
	display: grid;
	grid-template-columns: 33% 33% auto;
	row-gap: 20px;
	column-gap: 20px;
	color: black;
	margin: auto;
	padding: 20px;
}

.main-box{
	height: auto;
	border: solid 2px black;
}

#about-me{
	background-color: rgba(208, 208, 208, 0.5);
}

#resume{
	background-color: rgba(240, 240, 240 ,0.5);
}

#about-me, #resume, #projects{
	padding: 30px 75px 75px 75px ;
	color: #000;
}
.download-resume{
	text-align: center;
}

h1, h3{
	margin-left: 10px;
}

.logo-style{
padding: 10px;	
}

footer {
	background-color: #F7882F;
	padding:1px;
	background-image: linear-gradient(to right, yellow , #F7882F);
}

footer p{
	text-align: right;
	font-size: 18px;
	margin-right: 20px;
}

.zoom-image{
	transition: transform .2s;
	margin: 0 auto;
}

.zoom-image:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); 
  }

  @media only screen and (max-width: 1024px) {
	header{
		font-size: 45px;
		padding:3em 3em;
	}

	header img{
		width: 75%;
		height: 75%;
	}
  }

  @media only screen and (max-width: 768px) {
	.grid-container{
		display: grid;
		grid-template-columns:  auto auto;
	}

	header{
		font-size: 35px;
		padding:3em 3em;
	}

	header img{
		width: 75%;
		height: 75%;
	}
  }
  
  @media only screen and (max-width: 425px) {
	.grid-container{
		display: grid;
		grid-template-columns: auto;
		padding-left: 0px;
	}
	
		header{
		font-size: 30px;
		padding:1.5em 1.5em;
	}

	header img{
		width: 50%;
		height: 50%;
	}
  }
