body {
	background-color: #000;
	color: #fff;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
header {
	/**background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/back-laptop-black.jpg') no-repeat top center;**/
	background-size: cover;
	padding: 0.5em 2em;
}

header {
	background-color: #02040F;
	font-size: 75px;
	font-weight: 900;
	text-transform: uppercase;
}

nav {
	background-color: #505050;
}

p{
	line-height: 2em;
}

h1{
	padding-bottom: 50px;
}

.grid-container{
	display: grid;
	grid-template-columns: 33% 33% auto;
	row-gap: 20px;
	column-gap: 20px;
	color: black;
	margin: auto;
	padding: 20px;
}

.main-box{
	height: auto;
	border: solid 2px black;
}

#projects{
	background-color: #E5DADA;
}

#about-me{
	background-color: #E59500;
}

#resume{
	background-color: #FFF;
}

#contact{
	background-color: #840032;
	margin: auto;
	text-align: center;
	color: #FFF;
}

#about-me, #resume, #projects, #contact{
	padding: 30px 75px 75px 75px ;
}
#about-me, #resume, #projects{
	color: #000;
}

.columns {
		display: grid;
		width: 30%;
		margin: auto;
		grid-template-columns: auto ;
	}

.download-resume{
	text-align: center;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

footer {
	background-color: #002642;
	padding:1px;

}

footer p{
	text-align: right;
	font-size: 18px;
	margin-right: 20px;
}

  @media only screen and (max-width: 1024px) {
	header{
		font-size: 45px;
		padding:3em 3em;
	}

	header img{
		width: 75%;
		height: 75%;
	}
  }

  @media only screen and (max-width: 768px) {
	.grid-container{
		display: grid;
		grid-template-columns:  auto auto;
	}

	header{
		font-size: 35px;
		padding:3em 3em;
	}

	header img{
		width: 75%;
		height: 75%;
	}
  }

  @media only screen and (max-width: 425px) {
	.grid-container{
		display: grid;
		grid-template-columns: auto;
		padding-left: 0px;
	}

		header{
		font-size: 30px;
		padding:1.5em 1.5em;
	}

	header img{
		width: 50%;
		height: 50%;
	}
  }
