.flowers-container {
  margin: 30px auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
}

.flowers-table {
  display: flex;
  flex-flow: column;
  align-items: center;
  border-collapse: collapse;
  padding-bottom: 3rem;
  border-radius: 0 10px 10px 0;
}

.flowers-header > th {
  font-size: 1.5rem;
  background: gray;
  padding: 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.089);
}

.flowers-list > td {
  padding: 3px 10px;
  border: 1px solid rgba(0, 0, 0, 0.089);
}

.flowers-list:hover {
  background: rgba(0, 0, 0, 0.096);
}

.flowers-container > h1,
.flowers-container > h2 {
  text-align: center;
  padding: 2rem;
}

.table-responsive {
  min-height: 0.01%;
  overflow-x: auto;
}

.flowers-container h1{
  font-size: 3rem;
  margin-bottom: 1rem;
  color: rgb(52, 78, 65);
  text-align: center;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tbody > tr > td {
    white-space: nowrap;
  }
  .flowers-container {
    width: 100%;

  }
}

